<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/200" class="avatar img-circle" alt="avatar">
        <h6>Upload a different photo...</h6>

        <input type="file" class="form-control">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">


      <h3>Personal info</h3>
      <%= form_for(@profile ,url: { :controller => :profiles, :action => :edit } , method: "post", html: {class: 'form-horizontal'}) do |f| %>
        <% if @profile.errors.any? %>
            <div id="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a>
              <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this subscription from being saved:</h2>
              <% @profile.errors.full_messages.each do |message| %>
                  <i class="fa fa-coffee"></i><%= message %>
              <% end %>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :username,:class => "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :username,:class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :first_name,:class => "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :first_name,:class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name,:class => "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_field :last_name,:class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag(:email, value = nil, options = { class: "col-lg-3 control-label"}) %>
          <div class="col-lg-8">
            <%= email_field_tag(:email, value = @profile.user.email, options = { class: "form-control"}) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :bio,:class => "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.text_area :bio,:class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :bithday,:class => "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.date_select :bithday,:class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :color,:class => "col-lg-3 control-label" %>
          <div class="col-lg-8">
            <%= f.color_field :color,:class => "form-control" %>
          </div>
        </div>
          <div class="form-group">
            <%= f.label :subscription_id,:class => "col-lg-3 control-label" %>
            <div class="col-lg-8">
              <%= select_tag :subscription_id, options_from_collection_for_select(Subscription.all, "id", "name_with_price", @profile.subscription.id), :class => "form-control" %>
            </div>
          </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="janesemail@gmail.com">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Time Zone:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                <option value="Alaska">(GMT-09:00) Alaska</option>
                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                <option value="Arizona">(GMT-07:00) Arizona</option>
                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
              </select>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label class="col-md-3 control-label">Password</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="11111122333">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">New Password</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="11111122333">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm new password</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="11111122333">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <div class="actions form-group ">
              <%= f.submit "Save Changes", :class => 'btn btn-success' %>
              <span></span>
              <%= link_to 'Back',{ :controller => :profiles, :action => :show }, :class => "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
<hr>