<div class="jumbotron">
  <div class="container poniendo-padding">
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/200" class="avatar img-circle" alt="avatar">
        </div>
      </div>
      <div class="col-md-7">
        <h2><%= @profile.username %> <small class="letra-color-blanco"> < <%= @profile.last_name.capitalize %> <%=@profile.first_name.capitalize %> > </small></h2>
        <small><%= @profile.subscription.name %></small>
        <h5><%= @profile.user.email %></h5>
        <blockquote class="my-quotes">
          <h3><small class="letra-color-blanco"><span class="comilla"></span><%= @profile.bio %><span class="comilla-cerrar"></span></small></h3>
        </blockquote>
        <hr>
        <div class="social-network"> Google - Facebook - Twitter</div>
      </div>
      <div class="col-md-2">
        <%= link_to({ :controller => :profiles, :action => :edit }, :class => "btn btn-warning") do %>
            <%= content_tag :span, " Edit", :class => "glyphicon glyphicon-edit" %>
        <% end%>
      </div>
    </div>
  </div>
</div>

<div class="nav nav-pills row" >
  <div class="col-xs-6 col-sm-3 active"><a href="#" class="btn btn-success letra-color-blanco llenado-boton"><span class="badge"><%= @profile.user.components.count %></span> Components</a></div>
  <div class="col-xs-6 col-sm-3 active"><a href="#" class="btn btn-success letra-color-blanco llenado-boton"><span class="badge"><%= @profile.user.group_components.count %></span> Group Components</a></div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-3 active"><a href="#" class="btn btn-success letra-color-blanco llenado-boton"><span class="badge">42</span> Changes states per day</a></div>
  <div class="col-xs-6 col-sm-3 active"><a href="#" class="btn btn-success letra-color-blanco llenado-boton"><span class="badge">42</span> stadistic</a></div>
</div>
<br>

