<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group_component.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group_component.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_component.description %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @group_component.enable %>
</p>

<%= link_to 'Edit', edit_group_component_path(@group_component), :class => "btn btn-primary" %> |
<%= link_to 'Back', group_components_path, :class => "btn btn-danger" %>
