<h1>Internet of Things</h1>
<h5>create a world Of Things</h5>

<div class="jumbotron">
  <div class="container">
    <h1>What is the Internet of Your Things?</h1>
    <p>The Internet of Things (IoT) starts with your things—the things that matter most to your business. Welcome to the Internet of Your Things.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>



<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-12 col-sm-12">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-free center_div">
        <div class="LandingPlanCareer-info ">
          <div class="LandingPlanCareer-price-free">
            <h3 class="LandingPlanCareer-type">Free Account</h3>
            <div class="LandingPlanCareer-currency">$0</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-free"></div>
              <span class="LandingPlanCareer-benefits">Access limited to add Commponets (10 Commponents)</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-free">
              </div>
              <span class="LandingPlanCareer-benefits">Limited Change of states per day (50 Changes)</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-free">
              </div>
              <span class="LandingPlanCareer-benefits">Default group created</span>
            </li>
          </ul>
          <%= link_to "Signup",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-12 col-sm-6">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-bronze">
        <div class="LandingPlanCareer-info">
          <div class="LandingPlanCareer-price-bronze">
            <h3 class="LandingPlanCareer-type">Monthly Plan Bronze</h3>
            <div class="LandingPlanCareer-currency">$3</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-bronze"></div>
              <span class="LandingPlanCareer-benefits">50 Components to add</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-bronze">
              </div>
              <span class="LandingPlanCareer-benefits">300 changes of states per day</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-bronze"></div>
              <span class="LandingPlanCareer-benefits">5 groups of Components</span>
            </li>
          </ul>
          <%= link_to "Chosse Plan",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button color-bronze" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-bronze">
        <div class="LandingPlanCareer-info">
          <div class="LandingPlanCareer-price-bronze">
            <h3 class="LandingPlanCareer-type">Anual Plan Bronze</h3>
            <div class="LandingPlanCareer-currency">$33</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-bronze"></div>
              <span class="LandingPlanCareer-benefits">50 Components to add</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-bronze">
              </div>
              <span class="LandingPlanCareer-benefits">300 changes of states per day</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-bronze"></div>
              <span class="LandingPlanCareer-benefits">5 groups of Components</span>
            </li>
          </ul>
          <%= link_to "Chosse Plan",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button color-bronze" %>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-12 col-sm-6">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-silver">
        <div class="LandingPlanCareer-info">
          <div class="LandingPlanCareer-price-silver">
            <h3 class="LandingPlanCareer-type">Monthly Plan Silver</h3>
            <div class="LandingPlanCareer-currency">$9</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-silver"></div>
              <span class="LandingPlanCareer-benefits">150 Components to add</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-silver">
              </div>
              <span class="LandingPlanCareer-benefits">900 changes of states per day</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-silver"></div>
              <span class="LandingPlanCareer-benefits">20 groups of Components</span>
            </li>
          </ul>
          <%= link_to "Chosse Plan",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button color-silver" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-silver">
        <div class="LandingPlanCareer-info">
          <div class="LandingPlanCareer-price-silver">
            <h3 class="LandingPlanCareer-type">Anual Plan Silver</h3>
            <div class="LandingPlanCareer-currency">$99</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-silver"></div>
              <span class="LandingPlanCareer-benefits">150 Components to add</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-silver">
              </div>
              <span class="LandingPlanCareer-benefits">900 changes of states per day</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-silver"></div>
              <span class="LandingPlanCareer-benefits">20 groups of Components</span>
            </li>
          </ul>
          <%= link_to "Chosse Plan",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button color-silver" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="col-xs-12 col-sm-6">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-gold">
        <div class="LandingPlanCareer-info">
          <div class="LandingPlanCareer-price-gold">
            <h3 class="LandingPlanCareer-type">Monthly Plan Gold</h3>
            <div class="LandingPlanCareer-currency">$45</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-gold"></div>
              <span class="LandingPlanCareer-benefits">unlimited Components to add</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-gold">
              </div>
              <span class="LandingPlanCareer-benefits">unlimited changes of states per day</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-gold"></div>
              <span class="LandingPlanCareer-benefits">unlimited groups of Components</span>
            </li>
          </ul>
          <%= link_to "Chosse Plan",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button color-gold" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="LandingPlanCareer LandingPlanCareer-bigger-gold">
        <div class="LandingPlanCareer-info">
          <div class="LandingPlanCareer-price-gold">
            <h3 class="LandingPlanCareer-type">Anual Plan Gold</h3>
            <div class="LandingPlanCareer-currency">$495</div>
            <span class="LandingPlanCareer-label">dollars <i class="glyphicon glyphicon-usd"></i> USD
            </span>
          </div>
          <ul class="LandingPlanCareer-list">
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-gold"></div>
              <span class="LandingPlanCareer-benefits">unlimited Components to add</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-gold">
              </div>
              <span class="LandingPlanCareer-benefits">unlimited changes of states per day</span>
            </li>
            <li class="LandingPlanCareer-item">
              <div class="LandingPlanCareer-bullet color-gold"></div>
              <span class="LandingPlanCareer-benefits">unlimited groups of Components</span>
            </li>
          </ul>
          <%= link_to "Chosse Plan",{ :controller => :users, :action => :new }, :class => "btn btn-success LandingPlanCareer-button color-gold" %>
        </div>
      </div>
    </div>
  </div>
</div>
