<!DOCTYPE html>
<html>
<head>
  <title>Iot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Internet Of Things", {:controller => :home, :action => :index },:class => "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <%= link_to "Singup",{ :controller => :users, :action => :new }, :class => "navbar-right btn btn-primary navbar-btn" %>

      <%= form_tag({controller: "sessions", action: "create"}, method: "post", class: "navbar-form navbar-right") do %>
      <!-- form_for(@users, :url => {:controller => 'sessions', :action => 'new'}, :html => {:class => "navbar-form navbar-right"}) do |f| -->
      <!-- form_for @user, url: { controller: 'sessions', action: 'new'}, html: { class: 'navbar-form navbar-right'} do |f| -->
          <div class="form-group">
            <%= email_field_tag(name = "email", value = nil, options = {placeholder: 'Email', class: "form-control"}) %>
          </div>
          <div class="form-group">
            <%= password_field_tag(name = "password", value = nil, options = { placeholder: 'Password', class: "form-control"})  %>
          </div>
          <%= submit_tag "Login", class: "btn btn-success" %>
      <% end %>

    </div>
  </div>
</nav>

<div class="container">

  <%= yield %>

  <hr>
  <footer>
    <p>© 2015 Jadesoft, Inc.</p>
  </footer>

</div>

</body>
</html>
