<!DOCTYPE html>
<html>
<head>
  <title>Intertic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">

    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Intertic", {:controller => :home, :action => :index },:class => "navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-right navbar-collapse collapse">


        <div id="user_header">
          <% if current_user %>
              Logged in as <%= current_user.email %>.
              <%= link_to "Log Out",{ :controller => :sessions, :action => :destroy }, :class => "btn btn-danger navbar-btn" %>
          <% else %>
              <%= link_to "Log in",{ :controller => :sessions, :action => :new }, :class => "btn btn-primary navbar-btn" %>
              <%= link_to "Sing up",{ :controller => :users, :action => :new }, :class => " btn btn-success navbar-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>


  <br>
  <br>
  <br>
  <footer class="footer">
    <div class="container">
      <p>© 2016 Jadesoft, Inc.</p>
    </div>
  </footer>

</body>
</html>
